body {
    background-color: #f5eedc;
}

header h1{
    font-size: 3rem;
    color:#427662 ;
    font-weight: bold;
    display: flex;
    text-align: center;
}

section p{
    color:#427662 ;
    font-weight: bold;
}

section ul {
    display: flex;
    flex-wrap: wrap;
}

section ul li {
    width: 30vw;
    height: 30vw;
    text-align: center;

}

section ul li img {
    width: 60%;
    transition: width 3s;
}

section ul li:hover img {
    width: 80%;
    transition: width 1s;
}